// --------------------

// Definition of variables
$primary: #892D32;
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/mapbox-gl/src/css/mapbox-gl.css';


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
// @import '../node_modules/bootstrap/scss/bootstrap.scss';
// 
// To install Reactstrap:
// 1) Run in the client folder: $ npm i reactstrap
// 2) Go to the official documentation and take some examples: https://reactstrap.github.io/
// import { Button } from 'reactstrap';
// <Button color="danger">Danger!</Button>
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

// .info {
//   margin: 20px;
//   padding: 10px 20px;
//   border-radius: 10px;
//   display: inline-block;
//   background-color: #5776e9;
//   color: white;
// }

// .info.info-danger {
//   background-color: #e73f3f;
// }

// --------------------
// Style for App component


  .MainNavbar {
    background-color: $primary;
    padding: 15px;
    color: white;
    display: flex;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .navbarTitle {
    flex-grow: 1;
    font-size: 1.2em;
  }

  // .App-intro {
  //   font-size: large;
  // }


// --------------------
// Style for Home component
.Home {
  margin: 10px;

  h2 {
    text-align: center
  }
  p {
    font-size: 1.2em;
    text-align: center
  }
}

// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

// --------------------
// Style for List component
.List {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.List Table {
  margin: 20px;
  width: 90vh;
  
  // tr {
  //   display: flex;
  //   justify-content: space-evenly;
  // }

  // td {
  //   align-self: baseline;
  // }
}

.List img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.streetArtDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;

  img {
    margin: 10px;
    height: 400px;
  }
}